In [4]:

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
from pycaret.classification import *

ModuleNotFoundError: No module named 'pycaret'

In [ ]:
!pip install kagglehub

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ealaxi/paysim1")

print("Path to dataset files:", path)

In [7]:
data = pd.read_csv("PS_20174392719_1491204439457_log.csv")
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [ ]:
plt.figure(figsize=(15,8))
sns.boxplot(hue = 'isFraud', x = 'type', y = 'amount', data = data[data.amount < 1e5])

In [6]:
print("Number of records:\t\t",data.shape[0])
print("Number of features per record:\t",data.shape[1])

NameError: name 'data' is not defined

In [5]:
print("Any missing data?",data.isnull().sum().any())

NameError: name 'data' is not defined

In [ ]:
print("No of Valid transactions:",data.isFraud.value_counts()[0],'which is ',round(data.isFraud.value_counts()[0]/data.shape[0] * 100,2),'%')
print("No of Fraud transactions:",data.isFraud.value_counts()[1],'which is ',round(data.isFraud.value_counts()[1]/data.shape[0] * 100,2),'%')

data.isFraud.value_counts()

In [ ]:
print("Any transaction with amount less than or equal to 0?")
print(len(data[data.amount<=0]))
print("What type of transactions are they?")
print(data[data.amount<=0]['type'].value_counts().index[0])
print("Are all these marked as Fraud Transactions?")
data[data.amount<=0]['isFraud'].value_counts()[1] == len(data[data.amount<=0])

In [ ]:
data_temp = data[data.isFlaggedFraud==1]
print("How many frauds transactions are Flagged?:")
print("\t",len(data_temp))

print("What type of transactions are they?")
print("\t",data_temp['type'].value_counts().index[0])

print("Are all these flagged also marked as Fraud Transactions?")
print("\t",data_temp['isFraud'].value_counts()[1] == len(data_temp))

print("Minumum amount transfered in these transactions")
print("\t",data_temp.amount.min())

print("Maximum amount transfered in these transactions")
print("\t",data_temp.amount.max())

In [ ]:
d = data.groupby('type')['amount'].sum()
plt.figure(figsize=(10,8))
ax = sns.barplot(x=d.index,y=d.values)
for p in ax.patches:
    ax.annotate(str(format(int(p.get_height()), ',d')), (p.get_x()+0.24, p.get_height()*1.01))
    
plt.title("Total amount in each transaction type")
plt.yticks([])
plt.xlabel("Transaction Type")
plt.show()

In [ ]:
plt.figure(figsize=(10,8))
plt.pie(data.type.value_counts().values,labels=data.type.value_counts().index,  autopct='%.0f%%')
plt.title("Transaction Type")
plt.show()

In [ ]:
#PREPROCESSING

In [8]:
data.drop(['step','nameOrig','nameDest','isFlaggedFraud','oldbalanceDest','newbalanceDest'],axis=1,
          inplace=True)
data['type'] = pd.factorize(data['type'], sort=True)[0]

data.head()

   type    amount  oldbalanceOrg  newbalanceOrig  isFraud
0     3   9839.64       170136.0       160296.36        0
1     3   1864.28        21249.0        19384.72        0
2     4    181.00          181.0            0.00        1
3     1    181.00          181.0            0.00        1
4     3  11668.14        41554.0        29885.86        0

In [ ]:
plt.figure(figsize=(12,8))
sns.pairplot(data[['amount', 'oldbalanceOrg', 'type', 'isFraud']], hue='isFraud')

In [ ]:
data.describe()

In [ ]:
data.median()

In [ ]:
data.mode()

In [ ]:
plt.figure(figsize=(12,10))
cor = data.corr()
sns.heatmap(cor, annot=True, cmap=plt.cm.Reds)
plt.show()

In [ ]:
#NORMALIZATION

In [ ]:

from pycaret.classification import *
# Initialize the PyCaret setup
clf = setup(data, target='isFraud', session_id=123, 
             normalize=True,  
             feature_selection=True)

In [1]:
compare_models()

NameError: name 'compare_models' is not defined

In [ ]:
lr=create_model('rf')

In [ ]:
predict_model(lr)

In [ ]:
plot_model(lr, plot = 'confusion_matrix')

In [ ]:
plot_model(lr, plot = 'class_report')

In [ ]:
save_model(lr, 'C:/Users/trish/Downloads/fraudDetect')